# Bonus Video
* Hello Jupyter 1.4
* Print function
* Bonus string

In [ ]:
print(value, ..., sep=' ', end='\n', file=sys.stdout)

In [5]:
print('Hello python',' This is ahmed',sep='%',end='...')

Hello python% This is ahmed...

In [6]:
'this is ahmed \n from dataology'

'this is ahmed \n from dataology'

In [8]:
print('this is ahmed \n from dataology')

this is ahmed \n from dataology

In [9]:
# String bonus

In [10]:
name='ahmed al khateeb'

In [11]:
name.capitalize()

'Ahmed al khateeb'

In [12]:
name.title()

'Ahmed Al Khateeb'

In [13]:
ahmed='..ahmed..'
ahmed.strip('.')

'ahmed'

In [14]:
ahmed

'..ahmed..'

In [15]:
job='ahmed working in finance department'

In [17]:
ahmed=ahmed.strip('.')
ahmed

'ahmed'

In [19]:
ahmed not in job

False

In [20]:
ahmed.isnumeric()

False

In [21]:
list1=['ahmed','ali', 'mo2men','omar']

In [24]:
'$ '.join(list1)

'ahmed$ ali$ mo2men$ omar'

In [29]:
f"{name}  working profile : {job}"

'ahmed al khateeb  working profile : ahmed working in finance department'

In [30]:
name='Amr'

In [31]:
f"{name}  working profile : {job}"

'Amr  working profile : ahmed working in finance department'