# Dictionaries , Sets
* Hello Jupyter 1.7

* Parenthesis recap

* Dictionaries

* Set

In [1]:
### Hello jupyter : shortcuts 
##################################################################
##################################################################
#when cell's edge turns blue
#Double D for delete
#c copy
#x cut
#a insert above
#b insert below
#z undo

In [2]:
Employee_profile={'Name':'ahmed' ,'Age':36 ,'Job':'manager'}

In [3]:
Employee_profile

{'Name': 'ahmed', 'Age': 36, 'Job': 'manager'}

In [4]:
type(Employee_profile)

dict

In [5]:
Employee_profile.keys()

dict_keys(['Name', 'Age', 'Job'])

In [6]:
Employee_profile.values()

dict_values(['ahmed', 36, 'manager'])

In [7]:
Employee_profile['Age']

36

In [8]:
Employee_profile['DEPARTMENT']='OPERATION'

In [9]:
Employee_profile

{'Name': 'ahmed', 'Age': 36, 'Job': 'manager', 'DEPARTMENT': 'OPERATION'}

In [10]:
del(Employee_profile['DEPARTMENT'])
Employee_profile

{'Name': 'ahmed', 'Age': 36, 'Job': 'manager'}

In [11]:
list(Employee_profile.keys())

['Name', 'Age', 'Job']

In [12]:
list(Employee_profile.values())

['ahmed', 36, 'manager']

In [13]:
List_names=['ahmed','omar','richard','mo2men','james','lara','maryam','ahmed','omar']

In [14]:
Experience={'richard':10,'Mohamed':7,'Samy':6,'Omar':4}

In [15]:
years=list(Experience.values())

In [16]:
years

[10, 7, 6, 4]

In [17]:
min(years)

4

In [18]:
max(years)

10

In [19]:
# {}
type(Experience)

dict

In [20]:
# SET
set_a={1,2,3,4,5,67,8,90,6,43,2,6,8,5,1,2,3}

In [21]:
set_a

{1, 2, 3, 4, 5, 6, 8, 43, 67, 90}

In [22]:
# Unique values

In [24]:
List_names

['ahmed',
 'omar',
 'richard',
 'mo2men',
 'james',
 'lara',
 'maryam',
 'ahmed',
 'omar']

In [26]:
len(set(List_names))

7

In [27]:
len(List_names)

9

In [31]:
set_names2={'mahmoud','ahmed','richard','sameh','maha','ali','maryam'}

In [32]:
set_names=set(List_names)
set_names

{'ahmed', 'james', 'lara', 'maryam', 'mo2men', 'omar', 'richard'}

In [33]:
set_names & set_names2

{'ahmed', 'maryam', 'richard'}

In [34]:
set_total=set_names.union(set_names2)
set_total

{'ahmed',
 'ali',
 'james',
 'lara',
 'maha',
 'mahmoud',
 'maryam',
 'mo2men',
 'omar',
 'richard',
 'sameh'}

In [35]:
set_total.issuperset(set_names)

True

In [36]:
set_names.issuperset(set_names2)

False

In [37]:
set_names.issubset(set_total)

True

In [38]:
set_names.add('abdallah')
set_names

{'abdallah', 'ahmed', 'james', 'lara', 'maryam', 'mo2men', 'omar', 'richard'}

In [41]:
set_names.issubset(set_total)

False