# Loops (for , while)
* Loop concept
* for loop
* while loop

In [1]:
Employees={'name':['ahmed','richard','omar','ali','maryam'],
       'age':[35,36,28,30,28],
       'department':['operations','operations','marketing','finance','HR'],
           'overtime':[12,15,18,21,18],
      'hobbies':['chess','basketball','chess','football','drawing']}

In [2]:
Employees

{'name': ['ahmed', 'richard', 'omar', 'ali', 'maryam'],
 'age': [35, 36, 28, 30, 28],
 'department': ['operations', 'operations', 'marketing', 'finance', 'HR'],
 'overtime': [12, 15, 18, 21, 18],
 'hobbies': ['chess', 'basketball', 'chess', 'football', 'drawing']}

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame(Employees)
df

      name  age  department  overtime     hobbies
0    ahmed   35  operations        12       chess
1  richard   36  operations        15  basketball
2     omar   28   marketing        18       chess
3      ali   30     finance        21    football
4   maryam   28          HR        18     drawing

In [5]:
name=Employees['name']
name

['ahmed', 'richard', 'omar', 'ali', 'maryam']

In [6]:
age=Employees['age']
age

[35, 36, 28, 30, 28]

In [7]:
overtime=Employees['overtime']
overtime

[12, 15, 18, 21, 18]

In [8]:
overtime[0]=overtime[0]+5
overtime[1]=overtime[1]+5
overtime[2]=overtime[2]+5
overtime[3]=overtime[3]+5
overtime[4]=overtime[4]+5
overtime

[17, 20, 23, 26, 23]

In [9]:
name

['ahmed', 'richard', 'omar', 'ali', 'maryam']

In [10]:
print(name[0])
print(name[1])

ahmed
richard

In [11]:
# for 
for x in name:
    print(x)

ahmed
richard
omar
ali
maryam

In [12]:
name

['ahmed', 'richard', 'omar', 'ali', 'maryam']

In [13]:
for L in name:
    print(L)

ahmed
richard
omar
ali
maryam

In [17]:
Employees

{'name': ['ahmed', 'richard', 'omar', 'ali', 'maryam'],
 'age': [35, 36, 28, 30, 28],
 'department': ['operations', 'operations', 'marketing', 'finance', 'HR'],
 'overtime': [17, 20, 23, 26, 23],
 'hobbies': ['chess', 'basketball', 'chess', 'football', 'drawing']}

In [19]:
for x in overtime:
    print(x , 'hours')

17 hours
20 hours
23 hours
26 hours
23 hours

In [20]:
# iteration
# Range

In [22]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
overtime

[17, 20, 23, 26, 23]

In [26]:
for i in range(0,5):
    print(name[i])

ahmed
richard
omar
ali
maryam

In [27]:
for i in range(0,5):
    print(name[i] ,':',overtime[i])

ahmed : 17
richard : 20
omar : 23
ali : 26
maryam : 23

In [28]:
len(overtime)

5

In [29]:
for i in range(0,len(overtime)):
    print(overtime[i])

17
20
23
26
23

In [30]:
exceed=[]
for i in range(0,5):
    if overtime[i] > 20:
        exceed.append(name[i])
exceed

['omar', 'ali', 'maryam']

In [33]:
# overtime hour 15$
pay=[]
for i in range(0,5):
    pay.append(overtime[i]*15)
pay

[255, 300, 345, 390, 345]

In [39]:
Employees['pay']=pay
Employees

{'name': ['ahmed', 'richard', 'omar', 'ali', 'maryam'],
 'age': [35, 36, 28, 30, 28],
 'department': ['operations', 'operations', 'marketing', 'finance', 'HR'],
 'overtime': [17, 20, 23, 26, 23],
 'hobbies': ['chess', 'basketball', 'chess', 'football', 'drawing'],
 'pay': [255, 300, 345, 390, 345]}

In [51]:
overtime

[17, 20, 23, 26, 23]

In [54]:
i=0
x=0
while x < 22:
    x=overtime[i]
    i=i+1
    print(x)

17
20
23