# Lists in python
 ### - Hello jupyter 1.5
### -Parenthesis () ,[],{}
### -Lists in python
### -List operations
__________________
__________________

### Parenthesis

In [1]:
# () curve
# [] square braket
# {}  Curly braket
# [] our main focus for today

* Basic operations:

In [7]:
a=[1,5,7,89,8,5,3,7667,23,25]

In [8]:
a

[1, 5, 7, 89, 8, 5, 3, 7667, 23, 25]

In [9]:
len(a)

10

In [10]:
type(a)

list

In [12]:
b=['aq',1.2,1,True,['q',1]]
b

['aq', 1.2, 1, True, ['q', 1]]

* Index & slicing

In [13]:
a

[1, 5, 7, 89, 8, 5, 3, 7667, 23, 25]

In [14]:
a[0]

1

In [15]:
a[2]

7

In [18]:
a[3:8]

[89, 8, 5, 3, 7667]

In [19]:
a[-1]

25

In [21]:
x=a[0:5]
x

[1, 5, 7, 89, 8]

* List function

In [30]:
list('ahmed alkhateeb')

['a', 'h', 'm', 'e', 'd', ' ', 'a', 'l', 'k', 'h', 'a', 't', 'e', 'e', 'b']

* Adding

In [32]:
a.append('q')
a.append(['qw','er'])
a

[1, 5, 7, 89, 8, 5, 3, 7667, 23, 25, 'q', 'q', ['qw', 'er']]

In [38]:
a.insert(0,'dataology')
a

['dataology',
 'a',
 'a',
 1,
 5,
 7,
 89,
 8,
 5,
 3,
 7667,
 23,
 25,
 'q',
 'q',
 ['qw', 'er']]

In [41]:
a.append([1,2])
a

['dataology',
 'a',
 'a',
 1,
 5,
 7,
 89,
 8,
 5,
 3,
 7667,
 23,
 25,
 'q',
 'q',
 ['qw', 'er'],
 [1, 2]]

In [42]:
a.extend([5,0])
a

['dataology',
 'a',
 'a',
 1,
 5,
 7,
 89,
 8,
 5,
 3,
 7667,
 23,
 25,
 'q',
 'q',
 ['qw', 'er'],
 [1, 2],
 5,
 0]

* deleting items

In [43]:
a

['dataology',
 'a',
 'a',
 1,
 5,
 7,
 89,
 8,
 5,
 3,
 7667,
 23,
 25,
 'q',
 'q',
 ['qw', 'er'],
 [1, 2],
 5,
 0]

In [45]:
a.pop()
a

['dataology',
 'a',
 'a',
 1,
 5,
 7,
 89,
 8,
 5,
 3,
 7667,
 23,
 25,
 'q',
 'q',
 ['qw', 'er'],
 [1, 2]]

In [49]:
a.remove(a[0])
a

[1, 5, 7, 89, 8, 5, 3, 7667, 23, 25, 'q', 'q', ['qw', 'er'], [1, 2]]

In [50]:
del a[0:6]
a

[3, 7667, 23, 25, 'q', 'q', ['qw', 'er'], [1, 2]]

* Unpacking

In [52]:
x=[1,4,9]
y=x[0]
z=x[1]
q=x[2]

In [55]:
y,z,q=x

In [57]:
*d,P=x
print(P)
print(d)

9
[1, 4]

In [58]:
a

[3, 7667, 23, 25, 'q', 'q', ['qw', 'er'], [1, 2]]

In [60]:
type(a)

list

In [61]:
type(a[0])

int

In [62]:
type(a[-1])

list

* Sort

In [65]:
a=[1, 5, 7, 89, 8, 5, 3, 7667, 23, 25]
a

[1, 5, 7, 89, 8, 5, 3, 7667, 23, 25]

In [68]:
a.sort(reverse=True)
a

[7667, 89, 25, 23, 8, 7, 5, 5, 3, 1]

In [69]:
### Bonus

In [70]:
a

[7667, 89, 25, 23, 8, 7, 5, 5, 3, 1]

In [71]:
x

[1, 4, 9]

In [72]:
y=a+x
y

[7667, 89, 25, 23, 8, 7, 5, 5, 3, 1, 1, 4, 9]

In [73]:
x+y

[1, 4, 9, 7667, 89, 25, 23, 8, 7, 5, 5, 3, 1, 1, 4, 9]

In [74]:
[1]*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [78]:
w=list(range(0,21))

In [79]:
w

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [80]:
w[::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [82]:
w[::-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [83]:
w

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [84]:
x=w
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [85]:
x[0]='dataolgy'
x

['dataolgy',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20]

In [86]:
w

['dataolgy',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20]

In [87]:
x=w[:]
x

['dataolgy',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20]

In [88]:
x[0]=0
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [89]:
w

['dataolgy',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20]